.rowList {
    
}
.row__posters {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    justify-content: center;
}
.row__posters img {
    max-width: 200px;
    width: 100%;
    height: auto;
}