.rowList {
    position: relative;
    top: -10rem;
    margin: 0 50px;
}
.row {
    margin-bottom: 3vw;
}
.row h2 {
    font-size: 30px;
    padding: 5px 0;
}
.posters_slider {
    display: flex;
}
.row__poster {
    position: relative;
    cursor: pointer;
    flex: 0 0 15%;
    margin: 0 5px;
}
.row__poster:hover {
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
    z-index: 1;
}
.poster_card {
    display: none;
    position: absolute;
    width: 100%;
}
.row__poster:hover .poster_card {
    display: block;
    background-color: #1c1c1c;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.poster_card {
    padding: 8px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}
.poster_card button {
    background-color: transparent;
    border: none;
    color: rgb(143, 143, 143);
    cursor: pointer;
}
.poster_card button:hover {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.poster_card button svg {
    font-size: 30px;
}
.poster_card button:nth-child(4) {
    margin: 0;
    padding: 0;
    float: right;
}
.poster_info_middle {
    display: flex;
    justify-content: space-between;
}
.poster_card .movie_lenght {
    float: left;
    margin: 7px;
}
.poster_card .movie_rating {
    float: right;
    margin: 7px;
}
.poster_card .movie_rating svg{
    font-size: 13px;
    padding-top: 3px;
}
.poster_card .movie_genres {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 950px) {
    .rowList {
        top: -13vw;
    }
    .row__posters {
        gap: 8px;
    }
}