.primary-header-container {
    border-bottom: 1px solid red;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    position: relative;
    z-index: 1;
}
.primary-header {
    display: flex;
    align-items: center;
    height: 68px;
    margin: 0 60px 0 60px;
}
.primary-header #brand {
    width: 92px;
    margin-right: 8px;
}
.nav-list li:not(:first-child){
    padding-left: 16px;
}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-list a {
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-size: 15px;
    transition: color .4s;
}
.nav-list a:hover {
    color: rgb(172, 172, 172);
}
.secondary-navigation {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    right: 6%;
    top: 0;
}
.nav-element:not(:last-child) {
    padding-right: 25px;
}
.nav-element a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.mobile-menu {
    display: none;
}